<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tansci.mapper.HomeMapper">

    <select id="statistics" resultType="com.tansci.domain.vo.StatisticsVo">
        SELECT COUNT(o.order_id) orderNum, SUM(o.price) orderAmount, ROUND(SUM(o.price)*0.9,2) netIncome, g.goodsNum, 0 goodsTypeNum
        FROM order_info o
        INNER JOIN (
            SELECT COUNT(1) goodsNum FROM goods
            <where>
                <if test="userId != null and userId != ''">
                    and user_id = #{userId}
                </if>
            </where>
        ) g
        <where>
            <if test="userId != null and userId != ''">
                and o.user_id = #{userId}
            </if>
        </where>
    </select>

    <select id="orderOverview" resultType="com.tansci.domain.vo.OrderOverviewVo">
        select DATE_FORMAT(create_time,'%Y-%m') date,
        count(1) orderNum,
        SUM(price) amount,
        SUM(if(pay_type=1,price,0)) wxAmout,
        SUM(if(pay_type=2,price,0)) aliAmout
        FROM order_info
        <where>
            <if test="userId != null and userId != ''">
                and user_id = #{userId}
            </if>
        </where>
        GROUP BY date
    </select>

    <select id="channelAnalysis" resultType="com.tansci.domain.vo.ChannelAnalysisVo">
        select
        (
            case
             when pay_type = 1 then '微信'
             when pay_type = 2 then '支付宝'
             else '银联'
            end
        ) as name,
        sum(price) value
        from order_info
        <where>
            <if test="userId != null and userId != ''">
                and user_id = #{userId}
            </if>
        </where>
        GROUP BY pay_type
    </select>

</mapper>