<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tansci.mapper.OrderInfoMapper">

    <select id="getOrderStatusCount" parameterType="com.tansci.domain.OrderInfo" resultType="com.tansci.domain.vo.OrderStatusCountVo">
        select count(*) orderNum, order_status as label
        from order_info
        where user_id = #{order.userId}
        GROUP BY order_status
    </select>

</mapper>